// thoughtworks color palette.

$white: #ffffff;
$offwhite: #f1f1f1;
$grey: #ccc;
$grey-text-color: #999;

$greyblue: #5C6F7B;
$blackblue: #162934;

$lightblue: #29AAE2;
$darkblue: #006FAB;

$lightgreen: #B1BA1D;
$darkgreen: #8D8A00;

$brightred: #C4122F;
$darkred: #891F02;
$brick: #B94A48;

$lightpurple: #5E2351;
$darkpurple: #492D3C;

$lightorange: #F59F1A;
$darkorange: #D06F19;

$lightpink: #C9006B;
$maroon: #7C0040;