// this file contains real sizes/ratios etc to use for calculating sciency things.
// info sourced from nasa http://solarsystem.nasa.gov/planets


// convert kms to some usable size. in this case, pixels.
@function kmtopx($kms) {
  @return $kms * 0.01px;
}


// earth
$earth-radius-real: 6371; //km
$earth-diameter-real: $earth-radius-real*2; //km
$earth-size: kmtopx( $earth-diameter-real ); //px

// Orbit Size Around Sun (semi-major axis) Metric: 149,598,262 km
// Aphelion (farthest) Metric: 152,098,233 km
// Perihelion (closest) Metric: 147,098,291 km
// Orbit Circumference Metric: 939,887,974 km
// Average Orbit Velocity Metric: 107,218 km/h
// Equatorial Inclination to Orbit 23.4393 degrees




// the moon
//-------------------------------------------
$moon-radius-real: 1737.5; //km
$moon-size: kmtopx($moon-radius-real);


$moon-orbit-diameter-real: 384400; //km
$moon-orbit-diameter: kmtopx($moon-orbit-diameter-real); //px
$moon-orbit-speed: 3680.5; //km per hr
$moon-orbit-duration: 6s;


// Average Distance from Earth Metric: 384,400 km
// Perigee (closest) Metric: 363,104 km
// Apogee (farthest) Metric: 405,696 km
// Orbit Circumference Metric: 2,413,402.16 km
// Average Orbit Velocity Metric: 3,680.5 km/h
// Orbit Inclination 5.16 degrees
// Equatorial Inclination to Orbit 6.68 degrees


