// animations

@include keyframes(pulse) {
  to { @include transform( scale(0.9) ); }
}

@include keyframes(zoomin) {
  from { @include transform( scale(0) ); }
  to { @include transform( scale(1) ); }
}

@include keyframes(zoomout) {
  from { @include transform( scale(1) ); }
  to { @include transform( scale(0) ); }
}

@include keyframes(fadein) {
  to { opacity: 1; }
}

@include keyframes(orbit) {
  $rotation-keyframe-count: 4;
  $rotation-keyframe-value: 360/$rotation-keyframe-count;

  @for $i from 1 through $rotation-keyframe-count {
    #{$i * (100%/$rotation-keyframe-count)} {
      @include transform( rotate(#{$i*$rotation-keyframe-value}deg) );
      -webkit-transform: rotate3d(0,0,1, #{$i*$rotation-keyframe-value}deg); // webkit optimized
    }
  }
  50% { opacity: .8; }
}
