$links: ( github, rss );


#links {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $link-z;
  padding: $gutter/2;


  li {
    display: inline-block;
    vertical-align: middle;

    @for $i from 1 through length($links) {
      &:nth-of-type(#{$i}) a { background-image: url('/images/#{nth($links, $i)}.png'); }
    }
  }


  a {
    display: block;
    position: relative;
    @include size( $touch-size );
    opacity: 0.2;
    @include transition( opacity .3s );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;

    &:hover {
      &, & p { opacity: 0.8; } // this selects a:hover and a:hover p
    }


    p {
      opacity: 0;
      position: absolute;
      top: 100%;
      right: 0;
      width: auto;
      text-align: center;
    }
  }
}