$moon-bg-color: $offwhite;
$moon-orbit-delay: $rising-earth-duration;


@include keyframes(orbit) {
  25% {
    z-index: $moon-z;
    @include transform( translateX(-$moon-orbit-diameter) );
  }

  26% { z-index: ($earth-z + 1); }

  50% {
  }


  75% {
    z-index: ($earth-z + 1);
    @include transform( translateX($moon-orbit-diameter) );
  }

  76% { z-index: $moon-z; }
}



#moon {
  position: fixed;
  z-index: $moon-z;
  @include sphere($moon-size);
  @include center($moon-size);
  background: $moon-bg-color;
  @include animation( orbit $moon-orbit-duration infinite linear );
  // @include animation-delay( $moon-orbit-delay );
}

