// the moon
//-------------------------------------------
$moon-size: $earth-size*0.27;
$moon-orbit-diameter: $earth-size*0.3;
$moon-orbit-duration: 6s;
$moon-bg-color: $offwhite;



@include keyframes(orbit) {
  25% {
    z-index: $moon-z;
    @include transform( translate3d(-$moon-orbit-diameter,0,0) );
  }

  26% { z-index: ($earth-z + 1); }

  50% { @include transform( translate3d(0,0,$moon-orbit-diameter) ); }

  75% {
    z-index: ($earth-z + 1);
    @include transform( translate3d($moon-orbit-diameter,0,0) );
  }

  76% { z-index: $moon-z; }
}




#moon {
  position: fixed;
  @include sphere($moon-size);
  @include center($moon-size);
  background: $moon-bg-color;
  z-index: $moon-z;
  // @include animation( orbit $moon-orbit-duration infinite linear );
}

