.orbit {
  position: fixed;
  @include center;
  opacity: 0;
  border: 1px solid rgba(255,255,255, .2);
  @include circle($orbit-size);
  @include transform( rotate3d(.5,0,0, 90deg) );
  @include animation( orbit $orbit-animation-duration $orbit-animation-delay infinite linear );


  @function nth-orbit($x, $i) {
    @return $x * (1 + .2*$i);
  }


  @for $i from 1 through $orbit-count {
    &:nth-of-type( #{$i} ) {
      @include circle( nth-orbit($orbit-size, $i) );
      @include animation-duration( nth-orbit($orbit-animation-duration, $i) );
    }
  }
}
