// making planets a little bit at a time.


// first you must make a circle.
// we'll keep this seperate for easy reuse.

@mixin circle($size) {
  display: block;
  height: $size;
  width: $size;
  @include border-radius($size/2);
}


// shadows
@function sphere-inset-shadow($size) {
  @return inset (-$size/20) (-$size/20) $size/10 0 rgba(0,0,0, 0.6);
}


@mixin sphere($size) {
  @include circle($size);
  box-shadow: sphere-inset-shadow($size);
}
