// making planets a little bit at a time.


@mixin circle($size) {
  height: $size;
  width: $size;
  @include border-radius($size/2);
}



@function sphere-inset-shadow($size) {
  @return inset (-$size/10) (-$size/10) $size/10 0 rgba(0,0,0, 0.6);
}



@mixin sphere($size) {
  @include circle($size);
  box-shadow: sphere-inset-shadow($size);
}
