$msg-count: 5;
$msg-lead-time: 2s;
$msg-time: ($total-animation-time + $msg-lead-time)/($msg-count);


@include keyframes(subtitles) {
  to { opacity: 1; }
}


@mixin subtitles {
  @for $i from 1 through $msg-count {
    &:nth-of-type(#{$i}) {
      @include animation-name(subtitles);
      @include animation-duration($msg-time);
      @include animation-delay( $msg-time * ($i - 1) );
    }
  }

  // cleanup with @if
  &:nth-of-type(#{$msg-count}) { @include animation-duration($msg-time*2); }
  &:nth-of-type(#{$msg-count - 1}),
  &:nth-of-type(#{$msg-count - 2}), { text-align: right; }
}


#subtitles {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 20px;

  p {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: arial;
    text-align: left;
    font-size: 51px;
    opacity: 0;
    @include subtitles;

    &:last-of-type {
      position: fixed;
      @include horizontal-center;
      top: 30%;
      width: 12em;
      text-align: center;
    }
  }
}