#subtitles {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 $gutter;
  @include subtitle-type;
}

.subtitle {
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  @include animation-name(fadein);
  @include animation-duration($subtitle-animation-duration);

  @for $i from 1 through $subtitle-count {
    &:nth-of-type(#{$i}) {
      @include animation-delay( $subtitle-animation-duration * ($i - 1) );
    }
  }


  &:nth-of-type(n+#{$subtitle-half-count}) { text-align: right; }


  &:last-of-type {
    position: fixed;
    display: table;
    @include horizontal-center;
    height: 100%;
    width: $subtitle-last-width;
    text-align: center;
    @include animation-duration($subtitle-animation-duration*2);
    p {
      display: table-cell;
      vertical-align: middle;
    }
  }


  span {
    display: block;
    &:first-of-type { margin-bottom: 1em; }
  }
}
