@include glow-keyframes(sunglow, $sun-size, $sun-color);

#sun {
  position: fixed;
  display: block;
  @include circle($sun-size);
  @include center($sun-size);
  @include transform( rotateY(180deg) translate3d(0,0,$sun-depth) );
  background: $lightorange;
  @include animation-name( sunglow, zoomin );
  @include animation-duration( 2s, 8s );
  @include animation-timing-function( linear );
  @include animation-direction( alternate, normal );
  @include animation-iteration-count( infinite, 1 );
}
