@include glow-keyframes(sunglow, $sun-size, $sun-color);

#sun {
  position: fixed;
  display: block;
  @include circle($sun-size);
  @include center($sun-size);
  background: $sun-color;
  box-shadow: 0 0 $sun-size*2 $sun-size/4 $sun-color;
  // @include animation(sunglow $sun-glow-animation-duration alternate infinite );
}
