@mixin vertical-middle($size) {
  top: 50%;
  margin-top: -$size/2;
}

@mixin horizontal-center($size) {
  left: 50%;
  margin-left: -$size/2;
}


@mixin center($size) {
  @include horizontal-center($size);
  @include vertical-middle($size);
}


@mixin fill($position:fixed) {
  position: $position;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


@function kmtopx($km) {
  @return $km * 0.0005px;
}



