// sun
$sun-size: 300px;



$planet-size: 30px;


// animation variables
$zoomin-animation-delay: 0;
$zoomin-animation-duration: 4s;


$sunglow-animation-delay: $zoomin-animation-duration;
$sunglow-animation-duration: 1.8s;


$orbit-animation-delay: $sunglow-animation-delay + $sunglow-animation-duration*2;
$orbit-animation-duration: 3s;


$zoomout-animation-delay: $orbit-animation-delay + $orbit-animation-duration*4;
$zoomout-animation-duration: 10s;



// A little cheat to know the total animation time.

$total-animation-time:
    $zoomout-animation-delay
  + $zoomout-animation-duration;

