// sun
$sun-radius: kmtopx( 695508 );
$sun-size: $sun-radius*2;
$sun-color: $lightorange;


$earth-size: kmtopx( 6371*40 ); //px



// space viewport
$vanishing-point: $sun-size*500;
$viewport-depth: $sun-size*2;



// animation variables
$zoomin-animation-delay: 0;
$zoomin-animation-duration: 5s;


$sunglow-animation-delay: $zoomin-animation-duration;
$sunglow-animation-duration: 1.8s;
$sunglow-animation-iteration-count: 3;
$sunglow-total-duration: $sunglow-animation-duration * $sunglow-animation-iteration-count;


$orbit-animation-delay: $zoomin-animation-duration + $sunglow-total-duration;
$orbit-animation-duration: 3s;






// A little cheat to know the total animation time.

$total-animation-time:
    $zoomin-animation-duration
  + $sunglow-total-duration
  + $orbit-animation-duration;

// .space:before {
//   content: "#{$total-animation-time}";
//   position: absolute;
//   top: 0;
//   left: 0;
//   color: white;
// }