!!!5
%html
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %title Orbits
    %link{rel: 'icon', href:'/images/favicon.png', type: 'image/png'}
    %link{rel:'stylesheet', type:'text/css', href:'/stylesheets/css/screen.css'}

  %body
    #subtitles
      - subtitles.each do |stitle|
        %p
          %span What if I told you..
          - 2.times do
            %br
          = stitle
      %p Want to see how flexible it is?
      %p
        Orbits.
        - 2.times do
          %br
        These aren't your grandma's stylesheets.


    #milkyway
      #sun
      - 9.times do
        .orbit
          .planet
