* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal; }

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.9); } }

@-moz-keyframes pulse {
  to {
    -moz-transform: scale(0.9); } }

@-o-keyframes pulse {
  to {
    -o-transform: scale(0.9); } }

@keyframes pulse {
  to {
    transform: scale(0.9); } }

@-webkit-keyframes zoomin {
  from {
    -webkit-transform: scale(0); }

  to {
    -webkit-transform: scale(1); } }

@-moz-keyframes zoomin {
  from {
    -moz-transform: scale(0); }

  to {
    -moz-transform: scale(1); } }

@-o-keyframes zoomin {
  from {
    -o-transform: scale(0); }

  to {
    -o-transform: scale(1); } }

@keyframes zoomin {
  from {
    transform: scale(0); }

  to {
    transform: scale(1); } }

@-webkit-keyframes zoomout {
  from {
    -webkit-transform: scale(1); }

  to {
    -webkit-transform: scale(0); } }

@-moz-keyframes zoomout {
  from {
    -moz-transform: scale(1); }

  to {
    -moz-transform: scale(0); } }

@-o-keyframes zoomout {
  from {
    -o-transform: scale(1); }

  to {
    -o-transform: scale(0); } }

@keyframes zoomout {
  from {
    transform: scale(1); }

  to {
    transform: scale(0); } }

@-webkit-keyframes orbit {
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg); }

  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg); }

  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg); }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg); }

  50% {
    opacity: .8; } }

@-moz-keyframes orbit {
  25% {
    -moz-transform: rotate3d(0, 0, 1, 90deg); }

  50% {
    -moz-transform: rotate3d(0, 0, 1, 180deg); }

  75% {
    -moz-transform: rotate3d(0, 0, 1, 270deg); }

  100% {
    -moz-transform: rotate3d(0, 0, 1, 360deg); }

  50% {
    opacity: .8; } }

@-o-keyframes orbit {
  25% {
    -o-transform: rotate3d(0, 0, 1, 90deg); }

  50% {
    -o-transform: rotate3d(0, 0, 1, 180deg); }

  75% {
    -o-transform: rotate3d(0, 0, 1, 270deg); }

  100% {
    -o-transform: rotate3d(0, 0, 1, 360deg); }

  50% {
    opacity: .8; } }

@keyframes orbit {
  25% {
    transform: rotate3d(0, 0, 1, 90deg); }

  50% {
    transform: rotate3d(0, 0, 1, 180deg); }

  75% {
    transform: rotate3d(0, 0, 1, 270deg); }

  100% {
    transform: rotate3d(0, 0, 1, 360deg); }

  50% {
    opacity: .8; } }

body {
  background: #070d10; }

#milkyway {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-animation: zoomin 4s 0 linear, zoomout 10s 19.6s linear;
  -moz-animation: zoomin 4s 0 linear, zoomout 10s 19.6s linear;
  animation: zoomin 4s 0 linear, zoomout 10s 19.6s linear; }

#sun {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #f59f1a), color-stop(100%, rgba(245, 159, 26, 0)));
  background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #f59f1a, rgba(245, 159, 26, 0));
  background-image: radial-gradient( circle closest-side at 50% 50%, #f59f1a, rgba(245, 159, 26, 0)); }

.orbit {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 360px;
  width: 360px;
  border-radius: 50%;
  -webkit-transform: rotate3d(0.5, 0, 0, 90deg);
  -moz-transform: rotate3d(0.5, 0, 0, 90deg);
  -ms-transform: rotate3d(0.5, 0, 0, 90deg);
  -o-transform: rotate3d(0.5, 0, 0, 90deg);
  transform: rotate3d(0.5, 0, 0, 90deg);
  -webkit-animation: orbit 3s 7.6s infinite linear;
  -moz-animation: orbit 3s 7.6s infinite linear;
  animation: orbit 3s 7.6s infinite linear; }
  .orbit:nth-of-type(1) {
    height: 432px;
    width: 432px;
    border-radius: 50%;
    -webkit-animation-duration: 3.6s;
    -moz-animation-duration: 3.6s;
    animation-duration: 3.6s; }
  .orbit:nth-of-type(2) {
    height: 504.0px;
    width: 504.0px;
    border-radius: 50%;
    -webkit-animation-duration: 4.2s;
    -moz-animation-duration: 4.2s;
    animation-duration: 4.2s; }
  .orbit:nth-of-type(3) {
    height: 576px;
    width: 576px;
    border-radius: 50%;
    -webkit-animation-duration: 4.8s;
    -moz-animation-duration: 4.8s;
    animation-duration: 4.8s; }
  .orbit:nth-of-type(4) {
    height: 648px;
    width: 648px;
    border-radius: 50%;
    -webkit-animation-duration: 5.4s;
    -moz-animation-duration: 5.4s;
    animation-duration: 5.4s; }
  .orbit:nth-of-type(5) {
    height: 720px;
    width: 720px;
    border-radius: 50%;
    -webkit-animation-duration: 6s;
    -moz-animation-duration: 6s;
    animation-duration: 6s; }
  .orbit:nth-of-type(6) {
    height: 792.0px;
    width: 792.0px;
    border-radius: 50%;
    -webkit-animation-duration: 6.6s;
    -moz-animation-duration: 6.6s;
    animation-duration: 6.6s; }
  .orbit:nth-of-type(7) {
    height: 864.0px;
    width: 864.0px;
    border-radius: 50%;
    -webkit-animation-duration: 7.2s;
    -moz-animation-duration: 7.2s;
    animation-duration: 7.2s; }
  .orbit:nth-of-type(8) {
    height: 936px;
    width: 936px;
    border-radius: 50%;
    -webkit-animation-duration: 7.8s;
    -moz-animation-duration: 7.8s;
    animation-duration: 7.8s; }
  .orbit:nth-of-type(9) {
    height: 1008.0px;
    width: 1008.0px;
    border-radius: 50%;
    -webkit-animation-duration: 8.4s;
    -moz-animation-duration: 8.4s;
    animation-duration: 8.4s; }

.planet {
  position: absolute;
  right: -15px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #006fab; }

@-webkit-keyframes subtitles {
  to {
    opacity: 1; } }

@-moz-keyframes subtitles {
  to {
    opacity: 1; } }

@-o-keyframes subtitles {
  to {
    opacity: 1; } }

@keyframes subtitles {
  to {
    opacity: 1; } }

#subtitles {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 20px; }
  #subtitles p {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: arial;
    text-align: left;
    font-size: 51px;
    opacity: 0; }
    #subtitles p:nth-of-type(1) {
      -webkit-animation-name: subtitles;
      -moz-animation-name: subtitles;
      animation-name: subtitles;
      -webkit-animation-duration: 6.32s;
      -moz-animation-duration: 6.32s;
      animation-duration: 6.32s;
      -webkit-animation-delay: 0s;
      -moz-animation-delay: 0s;
      animation-delay: 0s; }
    #subtitles p:nth-of-type(2) {
      -webkit-animation-name: subtitles;
      -moz-animation-name: subtitles;
      animation-name: subtitles;
      -webkit-animation-duration: 6.32s;
      -moz-animation-duration: 6.32s;
      animation-duration: 6.32s;
      -webkit-animation-delay: 6.32s;
      -moz-animation-delay: 6.32s;
      animation-delay: 6.32s; }
    #subtitles p:nth-of-type(3) {
      -webkit-animation-name: subtitles;
      -moz-animation-name: subtitles;
      animation-name: subtitles;
      -webkit-animation-duration: 6.32s;
      -moz-animation-duration: 6.32s;
      animation-duration: 6.32s;
      -webkit-animation-delay: 12.64s;
      -moz-animation-delay: 12.64s;
      animation-delay: 12.64s; }
    #subtitles p:nth-of-type(4) {
      -webkit-animation-name: subtitles;
      -moz-animation-name: subtitles;
      animation-name: subtitles;
      -webkit-animation-duration: 6.32s;
      -moz-animation-duration: 6.32s;
      animation-duration: 6.32s;
      -webkit-animation-delay: 18.96s;
      -moz-animation-delay: 18.96s;
      animation-delay: 18.96s; }
    #subtitles p:nth-of-type(5) {
      -webkit-animation-name: subtitles;
      -moz-animation-name: subtitles;
      animation-name: subtitles;
      -webkit-animation-duration: 6.32s;
      -moz-animation-duration: 6.32s;
      animation-duration: 6.32s;
      -webkit-animation-delay: 25.28s;
      -moz-animation-delay: 25.28s;
      animation-delay: 25.28s; }
    #subtitles p:nth-of-type(5) {
      -webkit-animation-duration: 12.64s;
      -moz-animation-duration: 12.64s;
      animation-duration: 12.64s; }
    #subtitles p:nth-of-type(4), #subtitles p:nth-of-type(3) {
      text-align: right; }
    #subtitles p:last-of-type {
      position: fixed;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      top: 30%;
      width: 12em;
      text-align: center; }
